[ req ]
distinguished_name = req_distinguished_name
req_extensions = req_ext
prompt = no

[ req_distinguished_name ]
C = CL
ST = SmartHome
L = Smarthome Hector
O = cualquiera
OU = cualquiera
CN = mosquitto
emailAddress = aferghman21@alumnos.utalca.cl

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = localhost
DNS.2 = mosquitto
IP.1 = 127.0.0.1
IP.2 = 10.254.148.141
